.erg-copy table {
  margin-top: 1rem;
  width: 100%;
  border-spacing: 1px;
  border-color: white;
  font-size: 0.875rem;
  line-height: 1.25;

  tr {
    // zebra striping
    &:nth-of-type(even) { background-color: rgba($erg-orange, 0.2); }
    &:nth-of-type(odd)  { background-color: rgba($erg-orange, 0.1); }
  }

  th {
    padding: 0.5rem 0.625rem;
    text-shadow: 0 0 0.375rem rgba(black, 0.125);
    color: white;
    background-color: rgba($erg-orange, 0.8);
  }

  td {
    padding: 0.375rem 0.625rem;
    vertical-align: top;
  }
}
