.erg-form {
  fieldset {
    border: none;

    *:first-child {
      margin-top: 0;
    }
  }

  label {
    display: block;
    font-size: 0.875rem;
  }

  input,
  textarea {
    padding: 0.5rem;
    border: none;
    width: 100%;
    font-size: 1rem;
    background-color: $greye;
  }

  textarea {
    font-family: inherit;
    resize: none;
  }

  button {
    font-size: inherit;
    cursor: pointer;
  }
}
