// default anchor link color
a { color: $erg-orange; }



// body copy
.erg-copy {
  line-height: 1.5;
  color: $dark-grey;

  p {
    margin-top: 1rem;
  }

  // unordered and ordered lists
  ul, ol {
    margin-top: 1rem;
    padding-left: 2rem;
    // remove top margin for nested lists
    ul, ol { margin-top: 0; }
  }

  // change color of bullets for unordered lists
  ul li {
    position: relative;
    list-style-type: none;

    &::before {
      content: '\2022'; // filled circle glyph
      position: absolute;
      // em used, so position adjusts with font-size & line height
      top: 0.4375em;
      left: -0.8125em;
      font-size: 1.625em;
      line-height: 0;
      color: $erg-orange;
    }
  }

  // nested unordered lists (font-size and position changes based on glyph size)
  ul > li > ul > li::before {
    content: '\00ba'; // hallow circle glyph
    top: 0.8125em;
    left: -1em;
    font-size: 1.1875em;
  }
  ul > li > ul > li > ul > li::before {
    content: '\2219'; // square glyph
    top: 0.1875em;
    left: -0.4325em;
    font-size: 3.25em;
  }

  // nested ordered lists
  ol > li > ol > li {
    list-style-type: lower-alpha;
  }
  ol > li > ol > li > ol > li {
    list-style-type: lower-roman;
  }

  // remove padding and orange bullets for unbulleted lists
  .erg-unbulleted-list {
    padding-left: 0;

    li::before { content: none; }
  }

  // headings
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700; // bold
    line-height: 1.25;
  }
  // headings based roughly on 1.0625 Minor Second scale
  h1 { font-size: 1.6250rem;  } // 26px
  h2 { font-size: 1.5000rem;  } // 24px
  h3 { font-size: 1.4375rem;  } // 23px
  h4 { font-size: 1.3750rem;  } // 22px
  h5 { font-size: 1.1875rem;  } // 19px
  h6 { font-size: 1.1250rem;  } // 18px

  // main page header
  .erg-page-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}



// misc text
.erg-accent-text {
  font-weight: 700; // bold
  line-height: 1.25;
  color: $erg-orange;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.erg-lead-text {
  font-size: 1.125rem; // 18px
}

.erg-section-header {
  text-align: center;

  .erg-section-title {
    margin-bottom: 0;
  }
}



// buttons
.erg-button {
  display: inline-block;
  border: 1px solid $erg-orange;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-weight: 700; // bold
  line-height: 1;
  text-decoration: none;
  color: white;
  background-color: $erg-orange;

  &:hover, &:focus {
    background-color: darken($erg-orange, 10%);
  }
}
.erg-button-prev {
  @extend .erg-button;
  // right double arrow
  &::before {
    content: '\00ab\00a0';
    font-size: 1.25rem;
  }
}
.erg-button-next {
  @extend .erg-button;
  // right double arrow
  &::after {
    content: '\00a0\00bb';
    font-size: 1.25rem;
  }
}
.erg-button-large {
  @extend .erg-button;
  border-color: $dark-grey;
  padding: 0.75rem 2rem;
  color: $dark-grey;
  background-color: white;

  &:hover, &:focus {
    border-color: $grey6;
    color: $grey6;
    background-color: inherit;
  }
}



// quotes
.erg-quote-large,
.erg-quote-small {
  line-height: 1.25;
  font-style: italic;
  // hanging indent
  text-indent: -0.5625rem;
  // curly quotes
  p::before { content: "“"; }
  p::after { content: "”"; }
}
.erg-quote-large {
  font-weight: 600; // semi-bold
  font-size: 1.25rem; // 20px
}
.erg-quote-small {
  color: $grey9;
}
.erg-quote-source {
  font-weight: 700; // bold
  font-style: normal;
  // remove curly quotes
  &::before, &::after {
    display: none;
  }
}



// details list
.erg-details-list {
  margin-top: 1rem;
  border-top: 1px solid $greye;

  details {
    border-bottom: 1px solid $greye;
  }

  summary {
    // relative positioning for the after pseudo icon
    position: relative;
    // extra right padding to account for +/- symbol
    padding: 0.625rem 2.8125rem 0.625rem 1rem;
    font-weight: 700; // bold
    cursor: pointer;
  }

  .erg-details-content {
    // match padding from summary element
    padding: 0.625rem 1rem;
  }

  ul {
    margin-top: 0;
  }

  li {
    margin-bottom: 0.5rem;
  }

  // hide webkit toggle triangle
  details summary::-webkit-details-marker {
    display: none;
  }
  // plus icon
  details summary::after {
    content: '+';
    position: absolute;
    top: 0.25rem;
    right: 1rem;
    font-size: 1.5rem;
    color: $erg-orange;
  }
  // minus icon
  details[open] summary::after {
    content: '–';
    top: 0.125rem;
  }
}



// horizontal rules
.erg-rule-primary {
  margin: 3rem 0;
  border-top: 1px solid $greyd;
  border-bottom: 1px solid $greyd;
  border-left: none;
  border-right: none;
  height: 0.5rem; // 8px
}
.erg-rule-secondary {
  margin: 3rem auto;
  border: none;
  width: 6.25rem;  // 100px
  height: 0.25rem; // 4px
  background-color: $greyc;
}
.erg-rule-gap {
  margin: 3rem auto 0;
  border: none;
}


// media queries
@media (min-width: 20em) {
  .erg-copy {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    // headings based roughly on 1.125 Major Second scale
    h1 { font-size: 2.0000rem;  } // 32px
    h2 { font-size: 1.8125rem;  } // 29px
    h3 { font-size: 1.6250rem;  } // 26px
    h4 { font-size: 1.4375rem;  } // 23px
    h5 { font-size: 1.2500rem;  } // 20px
    h6 { font-size: 1.1250rem;  } // 18px

    .erg-page-header {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .erg-lead-text {
    font-size: 1.1875rem; // 19px
  }
}

@media (min-width: 30em) {
  .erg-accent-text {
    font-size: 1.125rem; // 18px
  }

  .erg-button-large {
    padding: 1rem 3.5rem;
  }

  .erg-quote-large,
  .erg-quote-small {
    line-height: 1.375;
  }
  .erg-quote-large {
    font-size: 1.375rem; // 22px
  }
  .erg-quote-small {
    font-size: 1.0625rem; // 17px
  }

  .erg-details-list {
    margin-top: 2rem;
  }
}

@media (min-width: 40em) {
  .erg-copy {
    line-height: 1.625;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      line-height: 1.375;
    }
    // headings based roughly on 1.2 Minor Third scale
    h1 { font-size: 2.8125rem;  } // 45px
    h2 { font-size: 2.3125rem;  } // 37px
    h3 { font-size: 1.9375rem;  } // 31px
    h4 { font-size: 1.6250rem;  } // 26px
    h5 { font-size: 1.3750rem;  } // 22px
    h6 { font-size: 1.1250rem;  } // 18px

    .erg-page-header {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  .erg-lead-text {
    font-size: 1.25rem; // 20px
    text-align: justify;
  }
}

@media (min-width: 60em) {
  .erg-copy {
    line-height: 1.75;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 2rem;
      margin-bottom: 2rem;
      line-height: 1.5;
    }
    // headings based roughly on 1.25 Major Third scale
    h1 { font-size: 3.2500rem; } // 52px
    h2 { font-size: 2.6250rem; } // 42px
    h3 { font-size: 2.1250rem; } // 34px
    h4 { font-size: 1.6875rem; } // 27px
    h5 { font-size: 1.3250rem; } // 22px
    h6 { font-size: 1.1250rem; } // 18px

    .erg-page-header {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }

  .erg-quote-large,
  .erg-quote-small {
    line-height: 1.5;
  }
  .erg-quote-large {
    font-size: 1.5rem; // 24px
  }
  .erg-quote-small {
    font-size: 1.125rem; // 18px
  }
}
