// sets width:height aspect ratio of element
@mixin ratio($width: 1, $height: 1) {
  &::before {
    content: '';
    display: block;
    padding-top: calc(#{$height} / #{$width} * 100%);
  }
}



// containers
.erg-container,
.erg-wide-container,
.erg-narrow-container {
  position: relative;
  margin: 0 auto;
  padding: 0 1rem;

  // remove compounding padding for nested containers
  .erg-container,
  .erg-wide-container,
  .erg-narrow-container {
    padding: 0;
  }
}
.erg-container {
  max-width: 66rem; // 1024px (not including padding)
}
.erg-wide-container {
  max-width: 80rem; // 1248px (not including padding)
}
.erg-narrow-container {
  max-width: 45.75rem; // 700px (not including padding)
}



// cover panels
.erg-cover-panel {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  text-shadow: 0 0 0.375rem rgba(black, 0.5);
  // background image needs to be set separately
  background-position: center center;
  background-size: cover;
}
.erg-cover-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  // same max-width as .erg-container
  max-width: 66rem;
  padding: 0 1rem;
}



// grid blocks
.erg-grid-block {
  display: flex;
  flex-flow: row wrap;

  a {
    display: flex;
    text-decoration: none;

    // show semi-transparent overlay and zoom in image on hover
    &:hover,
    &:focus {
      .erg-grid-figure::after {
        opacity: 0.5;
      }

      img {
        transform: scale(1.1);
      }
    }
  }
}
// grid item sizes
.erg-grid-half,
.erg-grid-third,
.erg-grid-fourth {
  width: 100%;
}
// grid item margins
.erg-margin-loose {
  margin: 1rem;
  width: calc(100% - 2rem);
}
.erg-margin-tight {
  margin: 1px;
  width: calc(100% - 2px);
}



// grid figures
.erg-grid-figure {
  position: relative;
  overflow: hidden;
  // 8:5 aspect ratio
  @include ratio(8, 5);

  // semi-transparent overlay
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  img {
    // fill figure with image
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.0);
    transition: transform 0.3s ease;
  }
}



// media blocks
.erg-media-block {
  overflow: hidden;

  .erg-media-figure {
    margin: 0 auto 1rem;
  }

  .erg-media-text {
    overflow: hidden;
    padding: 0 1rem;
    text-align: center;

    *:first-child {
      margin-top: 0;
    }
  }
}



// columns
.erg-columns-two {
  margin-top: 1rem;
  column-gap: 2rem;
  // max number of columns
  column-count: 2;
  // min width of columns
  column-width: 20rem; // 320px

  *:first-child {
    margin-top: 0;
  }

  // prevent list item orphans inside columns
  li {
    display: inline-block;
    width: 100%;
  }
}



@media (min-width: 40em) {
  .erg-grid-third {
    width: calc(100% / 2);
  }
  .erg-grid-fourth {
    width: calc(100% / 2);
  }

  .erg-media-block .erg-media-figure {
    float: left;
    margin-right: 1rem;
  }
  .erg-media-block .erg-media-text {
    text-align: left;
  }
}

@media (min-width: 50em) {
  .erg-grid-half {
    width: calc(100% / 2);
  }
}

@media (min-width: 60em) {
  .erg-grid-third {
    width: calc(100% / 3);
  }
  .erg-grid-fourth {
    width: calc(100% / 4);
  }
}
