[data-feature="slider"] {
  [data-feature="slider-window"] {
    position: relative;
    overflow: hidden;

    [data-feature="slider-panels"] {
      position: relative;
      // width set with JS: 100% * number of panels
      left: 0;
      transition: left 0.3s ease;
    }

    [data-feature="slider-panel"] {
      // absolute positioning set with JS
      // left set with JS: width * index of panel
      // width set with JS: 100% / number of panels
      top: 0;

      &[data-active="true"] {
        // !important to override absolute positioning set with JS
        position: relative !important;
      }
    }
  }





  [data-feature="slider-numbers"] {
    margin-top: 0.5rem;
    text-align: center;

    p {
      font-size: 0.8125rem;
      line-height: 0.75rem;
    }

    span {
      margin: 0 0.125rem;
      font-weight: 600;
    }
  }





  [data-feature="slider-dots"] {
    text-align: center;
    line-height: 0;

    li {
      display: inline-block;
      margin: 0 0.1875rem;
    }

    a {
      position: relative;
      display: block;
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 50%;
      background-color: rgba(white, 0.5);
      box-shadow: 0 0 2px rgba(black, 0.5);
    }

    // active dot indicator
    [data-active="true"] a,
    a:hover, a:focus {
      background-color: white;
    }

    // show card title on hover
    a:hover::before {
      content: attr(data-title);
      position: absolute;
      top: -2.875rem;
      left: -0.625rem;
      padding: 0.5rem 0.625rem 0.375rem;
      border-radius: 0.1875rem;
      font-size: 0.875rem;
      line-height: 1;
      white-space: nowrap;
      color: white;
      background: $grey4;
    }
    a:hover::after {
      content: '';
      position: absolute;
      top: -1.125rem;
      left: 0;
      border-left: 0.375rem solid transparent;
      border-right: 0.375rem solid transparent;
      border-top: 0.375rem solid $grey4;
    }
  }





  [data-feature="slider-arrows"] {
    li {
      position: absolute;
      top: 0;
      list-style: none;
    }

    [data-arrow="prev"] { left: 0;  }
    [data-arrow="next"] { right: 0; }

    a {
      // hide text
      text-indent: 400%;
      white-space: nowrap;
      overflow: hidden;
      // left/right arrow icons
      display: block;
      width: 54px;
      height: 54px;
      opacity: 0.5;
      background-image: url('../img/orca_icons.svg');
      background-size: 400px 200px;

      &:hover { opacity: 1.0; }
    }

    [data-arrow="prev"] a { background-position: -74px  -10px; }
    [data-arrow="next"] a { background-position: -138px -10px; }
  }





  [data-feature="slider-menu"] {
    position: absolute;
    top: 0;
    right: 0;

    [data-feature="slider-menu-toggle"] {
      float: right;
      // hide text
      text-indent: 400%;
      white-space: nowrap;
      overflow: hidden;
      // hamburger icon
      display: block;
      width: 54px;
      height: 54px;
      opacity: 0.5;
      background-image: url('../img/orca_icons.svg');
      background-size: 400px 200px;
      background-position: -10px -10px;

      &:hover { opacity: 1.0; }

      // display card list dropdown when paragraph (menu) is clicked
      &[data-active="true"] + ul {
        display: block;
      }
    }

    ul {
      // initially hide card list
      display: none;
      float: right;
      clear: right;
      margin: 0;
      // display on top of card
      position: relative;
      z-index: 1;
    }

    li {
      list-style: none;
      background-color: $grey4;

      &:hover, &:focus, &[data-active="true"] {
        background-color: $grey3;
      }

      a {
        display: block;
        padding: 0.25rem 0.5rem;
        border-top: 1px solid $grey6;
        font-size: 0.875rem;
        color: white;
      }
    }
  }





  [data-feature="slider-tabs"] {
    overflow: hidden;

    ul {
      margin: 0;
      padding: 0;
      border-top: 1px solid $greyd;
      list-style: none;
    }

    li {
      border-bottom: 1px solid $greyd;
      width: 100%; // width overridden with JS: 100% / number of tabs
    }

    a {
      display: block;
      border-bottom: 3px solid transparent;
      padding: 0.625rem 0.5rem;
      width: 100%;
      font-size: 1rem;
      line-height: 1.125;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      color: $dark-grey;
      background-color: white;
    }

    [data-active="false"] a:hover,
    [data-active="false"] a:focus,
    [data-active="true"] a {
      color: white;
      background-color: $erg-orange;
    }
  }
}



@media (min-width: 50em) {
  [data-feature="slider"] {
    [data-feature="slider-tabs"] {
      // start the flexbox madness
      ul {
        display: flex;
        border-bottom: 1px solid $greyd;
      }

      li {
        display: flex;
        border-bottom: none;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.875rem 0.5rem;
        font-size: 1.125rem;
      }

      [data-active="true"] a {
        border-color: $erg-orange;
        color: $erg-orange;
        background-color: white;
      }
    }
  }
}
