// --- hero section ---
.erg-jobs-hero-section {
  margin-bottom: 2rem;
  padding: 0.25rem 0 2.75rem;
  color: white;
  background-image: url('../img/hero_background.png');
  background-position: center center;
  background-size: cover;

  .erg-lead-text p {
    // override lead-text's justified alignment
    text-align: center;
  }
}

// --- openings section ---
.erg-job-tile {
  border-radius: 0.25rem;
  color: $grey4;
  background-color: $greye;

  &:hover, &:focus {
    background-color: $greyc;
  }

  .erg-job-text {
    margin: 2rem;
    text-align: center;
  }

  .erg-job-name {
    margin: 0;
    line-height: 1.375;
  }

  .erg-job-location {
    margin-top: 0.5rem;
    line-height: 1.375;
  }
}

// --- always section ---
.erg-jobs-always-section {
  .erg-lead-text p {
    margin-bottom: 2rem;
    // override lead-text's justified alignment
    text-align: center;
  }
}

// --- benefits section ---
.erg-jobs-benefits-section {
  ul {
    padding-left: 0;
    text-align: center;

    // replicate styling of .erg-unbulleted-list class
    li::before { content: none; }
  }
}



@media (min-width: 30em) {
  .erg-jobs-hero-section {
    margin-bottom: 3rem;
    padding: 2rem 0 5rem;
  }
}

@media (min-width: 60em) {
  .erg-jobs-hero-section {
    margin-bottom: 4rem;
    padding: 8rem 0;
  }
}
