// --- hero section ---
.erg-home-hero-section {
  padding: 2rem 0 1.5rem;
  height: auto;
  // section is also given class .erg-fullscreen-panel
  background-image: url('../img/hero_background.png');

  .erg-cover-centered {
    top: 0;
    transform: none;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .erg-cover-text {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.875rem;
  }

  span {
    font-size: 1rem;
    font-weight: 700;
  }
}

.erg-hero-scroll {
  margin-top: 2rem;
  margin-bottom: -1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
  background-image: linear-gradient(to top, rgba(black, 0.66), transparent);

  a {
    display: inline-block;
    font-weight: 700;
    color: white;
    text-decoration: none;

    // down arrow
    &::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 42px;
      height: 42px;
      background-image: url('../img/erg_icons.svg');
      background-size: 400px 200px;
      background-position: -10px -148px;
      transition: transform 0.5s ease;
    }

    &:hover::after {
      transform: translateY(10px);
    }
  }
}



// --- services section ---
.erg-home-services-section {
  .erg-grid-block {
    // align services grid block with projects grid block below
    padding: 0 1rem 1rem;
  }
}



// --- projects section ---
.erg-home-projects-section {
  margin-bottom: 4rem;

  .erg-more-nav {
    text-align: center;
  }
}



// --- about section ---
.erg-home-about-section {
  min-height: 30rem;
  // section is also given class .erg-fullscreen-panel
  background-image: url('../img/hero_background.png');

  .erg-section-header {
    color: white;
  }

  .erg-button-large {
    border-color: white;
    color: white;
    background-color: transparent;

    &:hover {
      background-color: rgba(white, 0.25);
    }
  }
}



// --- news section ---
.erg-home-news-section {
  margin-bottom: 4rem;

  .erg-home-news-tile {
    // styles modeled after .erg-project-tile
    overflow: hidden;
    border-radius: 0.25rem;
    color: white;
    background-color: $dark-grey;

    .erg-home-news-text {
      padding: 1rem 1.25rem;
    }

    .erg-home-news-date {
      margin-top: 0;
      font-size: 0.875rem;
      text-transform: uppercase;
    }

    .erg-home-news-title {
      margin: 0.5rem 0 0 0;
    }
  }

  .erg-more-nav {
    margin-top: 2rem;
    text-align: center;
  }
}



@media (min-width: 20em) {
  .erg-home-hero-section {
    .erg-cover-text {
      margin-bottom: 2rem;
      font-size: 1rem;
    }

    span {
      font-size: 1.25rem;
    }
  }

  .erg-home-about-section {
    min-height: 35rem;

    .erg-cover-text {
      margin-bottom: 2rem;
      font-size: 1rem;
    }
  }
}

@media (min-width: 30em) {
  .erg-home-hero-section {
    .erg-cover-text {
      margin-bottom: 2.5rem;
      font-size: 1.5rem;
    }

    span {
      font-size: 1.75rem;
    }
  }

  .erg-home-about-section {
    .erg-cover-text {
      margin-bottom: 2.5rem;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 40em) {
  .erg-home-hero-section {
    .erg-cover-text {
      margin-bottom: 3rem;
      font-size: 1.75rem;
    }

    span {
      font-size: 2rem;
    }
  }

  // indent hero message text
  .erg-message-1 { text-indent: 1rem; }
  .erg-message-2 { text-indent: 6rem; }
  .erg-message-3 { text-indent: 3rem; }
  .erg-message-4 { text-indent: 4rem; }
  .erg-message-5 { text-indent: 2rem; }
  .erg-message-6 { text-indent: 5rem; }

  .erg-home-about-section {
    min-height: 40rem;

    .erg-cover-text {
      margin-bottom: 3rem;
      font-size: 1.75rem;
    }
  }
}

@media (min-width: 50em) {
  .erg-home-hero-section {
    .erg-cover-text {
      margin-bottom: 3.5rem;
      font-size: 2rem;
    }

    span {
      font-size: 2.5rem;
    }
  }

  .erg-home-about-section {
    .erg-cover-text {
      margin-bottom: 3.5rem;
      font-size: 2rem;
    }
  }
}

@media (min-width: 60em) {
  .erg-home-hero-section {
    height: 100vh;
    min-height: 42.5rem;

    .erg-cover-centered {
      top: 50%;
      transform: translateY(-50%);
    }

    .erg-cover-text {
      margin-bottom: 4rem;
      font-size: 2.5rem;
      line-height: 1.375;
    }

    span {
      font-size: 3rem;
    }
  }

  .erg-hero-scroll {
    position: absolute;
    bottom: 1.5rem;
  }

  .erg-home-about-section {
    min-height: 45rem;

    .erg-cover-text {
      margin-bottom: 4rem;
      font-size: 2.25rem;
    }
  }
}
