// --- erg cardstacks
[data-feature="slider"] {
  margin-top: 2rem;

  [data-feature="slider-tabs"] {
    margin-bottom: 1rem;
  }
}



// --- intro section ---
.erg-about-intro-section {
  .erg-founder-message {
    margin-top: 2rem;
  }
  .erg-founder-photo {
    overflow: hidden;
    margin: 0 auto 1rem;
    border-radius: 50%;
    width: 10rem; // 160px
    height: 10rem; // 160px

    // remove top margin of following element
    + * { margin-top: 0; }
  }
}



// --- clients section ---
.erg-about-clients-section {
  .erg-grid-figure {
    // 1:1 aspect ratio
    @include ratio(1, 1);
  }
}



// --- contracts section ---
.erg-about-contracts-section {
  //small screen table overrides
  table {
    th, td {
      width: 100%;
      float: left;
    }

    th:last-child {
      display: none;
    }
  }
}



// --- awards section ---
.erg-about-awards-section {
  li + li {
    margin-top: 1rem;
  }
}



// --- community section ---
.erg-about-community-section {
  h6 {
    margin-bottom: 0;

    // reduce top margin of first header
    &:first-of-type { margin-top: 1rem; }

    // remove top margin of following paragraph
    + p { margin-top: 0; }
  }
}



// --- contact section ---
.erg-about-contact-section {
  .erg-office-select {
    margin-top: 0.5rem;
    padding: 0.25rem 0.375rem;
    width: 100%;
    font-size: 1rem;
  }
  .erg-office-list {
    // hide office list on small screens
    display: none;

    li {
      padding: 0.5rem;
      border-bottom: 1px solid $greye;
      font-size: 0.875rem;
      line-height: 1.375;
      cursor: pointer;

      &:hover {
        background-color: $greye;
      }
    }
  }

  .erg-contact-map {
    // 1:1 aspect ratio
    @include ratio(1, 1);

    position: relative;
    margin-top: 1rem;

    .erg-google-map {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

// office info (Google Maps popup)
.erg-office-info {
  max-width: 16rem;

  p {
    margin-top: 0.375rem;
    line-height: 1.25
  }

  a {
    text-decoration: none;
    color: #427fed;
  }

  .erg-office-name {
    font-size: 0.875rem;
    font-weight: 600;
  }

  // leave room for icons
  .erg-office-address,
  .erg-office-phone,
  .erg-office-google {
    position: relative;
    margin-left: 1.25rem;
  }

  .erg-office-address::before,
  .erg-office-phone::before,
  .erg-office-google::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -1.125rem;
    top: 0.0625rem;
    width: 0.75rem;
    height: 0.75rem;
    background-image: url('../img/erg_icons.svg');
    background-size: 400px 200px;
  }

  .erg-office-address::before {
    background-position: -112px -80px;
  }

  .erg-office-phone::before {
    background-position: -112px -103px;
  }

  .erg-office-google::before {
    background-position: -112px -126px;
  }
}

.erg-map-button {
  padding: 0.5rem;
  border-radius: 3px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.6875rem;
  text-align: center;
  color: black;
  background-color: white;
  box-shadow: 0 1px 4px -1px rgba(black, 0.3);
  cursor: pointer;

  &:hover {
    background-color: #ebebeb;
  }
}

.erg-contact-form {
  fieldset {
    margin-top: 1.3125rem;
    padding: 0 1rem;

    p {
      // same top margin as fieldset itself
      margin-top: 1.3125rem;
    }
  }
}



@media (min-width: 20em) {
  // override grid-fourth layout: display 2 columns
  .erg-about-clients-section {
    .erg-grid-fourth {
      width: calc(100% / 2);
    }
  }
}

@media (min-width: 25em) {
  .erg-about-intro-section {
    .erg-founder-photo {
      float: left;
      margin-right: 1.5rem;
      border-radius: 0.25rem;
      height: 11rem; // 176px
    }
  }

  // override grid-fourth layout: display 4 columns
  .erg-about-clients-section {
    .erg-grid-fourth {
      width: calc(100% / 4);
    }
  }

  .erg-about-contracts-section {
    // revert small screen table overrides
    table {
      th, td {
        width: auto;
        float: none;
      }

      th:last-child {
        display: table-cell;
      }
    }
  }

  .erg-about-contact-section {
    .erg-contact-map {
      // 4:3 aspect ratio
      @include ratio(4, 3);
    }
  }
}

@media (min-width: 30em) {

}

@media (min-width: 40em) {
  .erg-about-intro-section {
    .erg-founder-message {
      margin-top: 4rem;
    }
  }

  // override margin-loose layout: increase left/right margin
  .erg-about-clients-section {
    .erg-margin-loose {
      margin: 1rem 2rem;
      width: calc(100% - 4rem);
    }
  }
}

@media (min-width: 50em) {
  // override margin-loose layout: increase left/right margin
  .erg-about-clients-section {
    .erg-margin-loose {
      margin: 1rem 3rem;
      width: calc(100% - 6rem);
    }
  }

  .erg-about-contact-section {
    .erg-contact-offices {
      float: left;
      width: calc(25% - 1rem);
    }
    // hide office select and show office list on large screens
    .erg-office-select {
      display: none;
    }
    .erg-office-list {
      display: inherit;
    }

    .erg-contact-map {
      float: right;
      width: calc(75% - 1rem);
    }
  }
}

@media (min-width: 60em) {

}
