.erg-site-footer {
  margin: 2rem 0;
  padding: 2rem 0;
  overflow: hidden;

  nav {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    ul {
      list-style: none;
    }

    li {
      float: left;
    }

    a {
      display: block;
      margin: 1rem;
      padding: 5px; // makes text height equal to icons height
      font-weight: 700;
      font-size: 0.875rem;
      color: $dark-grey;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;

      &:hover, &:focus {
        color: $erg-green;
      }
    }

    // social media icons
    a[href*="twitter"],
    a[href*="facebook"],
    a[href*="linkedin"] {
      width: 24px;
      height: 24px;
      background-image: url('../img/erg_icons.svg');
      background-size: 400px 200px;
      // hide text
      text-indent: 400%;
      white-space: nowrap;
      overflow: hidden;
    }
    a[href*="twitter"] {
      background-position: -10px -80px;

      &:hover, &:focus {
        background-position: -10px -114px;
      }
    }
    a[href*="facebook"] {
      background-position: -44px -80px;

      &:hover, &:focus {
        background-position: -44px -114px;
      }
    }
    a[href*="linkedin"] {
      background-position: -78px -80px;

      &:hover, &:focus {
        background-position: -78px -114px;
      }
    }

    // center 'contact' link above social media icons
    li:first-of-type {
      float: none;

      a { margin-bottom: 0; }
    }

    // line to left and right of footer links
    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 500%;
      height: 1px;
      background-color: $greye;
    }
    &::before { left: -500%; }
    &::before { right: 0; }
  }
}

.erg-site-copyright {
  margin-top: 0.5rem;
  font-size: 0.8125rem;
  color: $greyb;
  text-align: center;
}



@media (min-width: 20em) {
  .erg-site-footer {
    nav {
      // display 'contact' link inline with social media icons
      li:first-of-type {
        float: left;

        a { margin-bottom: 1rem; }
      }
    }
  }
}
