// transition time
$time: 0.3s;


.erg-site-header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  background-color: rgba(white, 0.9375);
  border-bottom: 1px solid $greye;
  overflow: hidden;

  nav {
    // max-height set to value larger than normal displayed height...
    // ...so it can be transitioned when .erg-nav-toggle is clicked
    max-height: 25rem; // 400px
    transition: max-height $time ease;

    ul {
      list-style: none;
      text-align: center;
    }

    a {
      display: block;
      padding: 0.875rem 1.25rem;
      border-top: 1px solid $greye;
      font-weight: 700;
      font-size: 1.25rem;
      color: $dark-grey;
      text-decoration: none;

      &:hover, &:focus {
        color: $erg-green;
      }
    }
  }
}

.erg-nav-toggle {
  position: absolute;
  top: 0.5625rem;
  right: 1rem;
  width: 2.625rem;
  height: 2.625rem;
  background-image: url('../img/erg_icons.svg');
  background-size: 400px 200px;
  background-position: -62px -148px;
  // hide text
  text-indent: 400%;
  white-space: nowrap;
  overflow: hidden;
  // declare pointer cursor since there's no href
  cursor: pointer;

  // hide nav when toggle isn't active
  &[data-active="false"] + nav {
    max-height: 0;
  }
}

.erg-site-logo {
  transform: scale(0.75);

  a {
    display: block;
    margin: 0 auto;
    width: 158px;
    height: 60px;
    background-image: url('../img/erg_icons.svg');
    background-size: 400px 200px;
    background-position: -6px -6px;
    // hide text
    text-indent: 400%;
    white-space: nowrap;
    overflow: hidden;
  }
}

.erg-site-main {
  // prevent children element's top margin from collapsing
  overflow: auto;
  // account for header height
  margin-top: 3.8125rem;
}



@media (min-width: 60em) {
  .erg-site-header {
    height: 8.5rem;
    transition: height $time ease;

    nav {
      float: right;
      padding: 2.625rem 0.5rem;
      transition: padding $time ease;

      li { float: left; }

      a {
        // allows for underline on .reversed-site-header nav links
        margin: 0.5rem 1.25rem 0.3125rem;
        padding: 0.5rem 0;
        border-bottom: 0.1875rem solid transparent;
        // pervious three rules are visually equivalent to "padding: 1rem 1.25rem;"
        border-top: none;
      }
    }
  }

  .erg-nav-toggle {
    display: none;
  }

  .erg-site-logo {
    float: left;
    padding: 2.375rem 1rem;
    transform: scale(1);
    transition: padding   $time ease,
                transform $time ease;
  }

  .erg-reversed-site-header {
    background-color: transparent;
    border-bottom: 1px solid transparent;

    nav a {
      color: white;
      text-shadow: 0 0 0.375rem rgba(black, 0.5);

      &:hover, &:focus {
        border-bottom-color: white;
        color: white;
      }
    }

    .erg-site-logo a {
      background-position: -166px -6px;
    }
  }

  .erg-site-main {
    // reset default overflow value
    overflow: visible;
    // re-account for header height
    margin-top: 12.5rem;
  }

  // first section in .erg-site-main
  .erg-reversed-first-section {
    position: relative;
    // position underneath reversed site header
    margin-top: -12.5rem;

    // semi-transparent overlay
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(black, 0.25);
    }
  }
}



// --- scrolled styles (data-attribute attached to body via JS)
@media (min-width: 60em) {
  [data-scrolled="true"] {
    .erg-site-header {
      height: 4.25rem;

      nav {
        padding: 0.5rem;
      }
    }

    .erg-site-logo {
      padding: 0.25rem 1rem;
      transform: scale(0.75);
    }

    // undo styles applied for reversed-site-header
    .erg-reversed-site-header {
      background-color: rgba(white, 0.9375);
      border-bottom-color: $greye;

      nav a {
        color: $dark-grey;
        text-shadow: none;

        &:hover, &:focus {
          color: $erg-green;
          border-bottom-color: transparent;
        }
      }

      .erg-site-logo a {
        background-position: -6px -6px;
      }
    }

    .erg-site-main {
      margin-top: 8.25rem;
    }

    .erg-reversed-first-section {
      margin-top: -8.25rem;
    }
  }
}
