// --- hero heading (service)
.erg-hero-heading {
  position: relative;
  // match .erg-page-header margin
  padding-top: 1rem;
  padding-bottom: 1rem;
  // background color is a fallback as background image is declared as inline style
  background-color: $erg-green;
  background-size: cover;
  background-position: center center;

  // semi-transparent overlay
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, 0.25);
  }

  h1 {
    margin: 0;
    color: white;
    text-shadow: 0 0 0.375rem rgba(black, 0.5);
  }
}



// --- service tiles (homepage)
.erg-service-tile {
  position: relative;
  color: white;
  background-color: transparent;

  .erg-service-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .erg-service-name {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 1.25rem;
    text-align: center;
    text-shadow: 0 0 0.375rem rgba(black, 0.5);
  }
}



// --- project tiles (homepage, projects page, and service pages)
.erg-project-tile {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  color: white;
  background-color: $dark-grey;

  .erg-project-text {
    padding: 1rem 1.25rem;
  }

  .erg-project-name {
    margin-top: 0;
  }

  .erg-project-clients {
    font-size: 0.8125rem; // 13px
    line-height: 1.375;
    // invisible text, but still accessible and takes up space
    color: transparent;

    // absolutely positioned data-text attribute text (same text as paragraph)
    &::after {
      content: attr(data-text);
      color: white;
      position: absolute;
      // positioning and width match .erg-project-text padding
      bottom: 1rem;
      left: 1.25rem;
      width: calc(100% - 2.5rem);
    }
  }
}



// --- news tiles (news page, news story pages)
.erg-news-tile {
  padding: 0.5rem;
  border-top: 1px solid $greye;

  &:hover {
    background-color: whitesmoke;
  }

  .erg-news-figure {
    overflow: hidden;
    border-radius: 0.25rem;
  }
  .erg-news-date {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: $grey6;
  }
  .erg-news-title {
    margin-top: 0.25rem;
    margin-bottom: 0;
    color: $grey4;
  }
}
.erg-news-nav {
  margin-top: 3.5rem;
  text-align: center;

  // prev/next links
  a { margin: 0.5rem 1rem; }
}



// --- news header (news story pages)
.erg-news-header {
  .erg-page-header {
    margin-bottom: 0;
  }
  // date text
  .erg-accent-text {
    margin: 1rem 0;
  }
}



// --- bio panels (service pages)
.erg-bio-panel {
  margin: 2rem 1rem 4rem 1rem;
}

// bio photos (service pages and bio pages)
.erg-bio-photo {
  overflow: hidden;
  border-radius: 50%;
  width: 6.25rem;  // 100px
  height: 6.25rem; // 100px

  img {
    width: 100%;
    height: auto;
  }
}

// bio quote (service pages and bio pages)
.erg-bio-quote {
  color: $grey9;
}

// bio headers (bio pages)
.erg-bio-header {
  margin-top: 4rem;
}

// bio title (bio pages)
.erg-bio-title {
  margin-top: 1rem;

  .erg-bio-name {
    margin-bottom: 0;
  }
  .erg-bio-position {
    margin-top: 0.25rem;
  }
}



// --- primary photo (project pages, news story pages)
.erg-primary-photo {
  margin-bottom: 2rem;

  img {
    display: block;
    overflow: hidden;
    border-radius: 0.25rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    // maintain 8:5 aspect ratio
    max-width: 43.75rem;   // 700px
    max-height: 27.375rem; // 438px
    object-fit: cover;
  }
}



// --- location pin icon (job listing)
.erg-office-location {
  &::before {
    content: '';
    display: inline-block;
    // position inline with text
    position: relative;
    top: 1rem;
    right: -0.125rem;
    // prevent icon from taking up extra vertical space
    margin-top: -2.625rem; // same as height
    width: 2.625rem;
    height: 2.625rem;
    background-image: url('../img/erg_icons.svg');
    background-size: 400px 200px;
    background-position: -114px -148px;
  }
}



// --- media queries
@media (min-width: 20em) {
  .erg-hero-heading {
    margin-bottom: 1rem;
    // match .erg-page-header margin
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .erg-news-header {
    // date text
    .erg-accent-text {
      margin: 1rem 0 2rem;
    }
  }

  .erg-office-location {
    position: relative;
    top: -0.5rem;
  }
}

@media (min-width: 30em) {
  .erg-primary-photo {
    margin-bottom: 3rem;
  }
}

@media (min-width: 40em) {
  .erg-hero-heading {
    margin-bottom: 2rem;
    // match .erg-page-header margin
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .erg-news-tile {
    // bottom border below last news title
    &:last-child {
      border-bottom: 1px solid $greye;
    }

    .erg-news-figure {
      float: left;
      margin-right: 1.5rem;
      width: 37.5%;
      max-width: 12.5rem; // 200px
    }
    // news text width = 100% - (news figure width + right margin)
    .erg-news-figure + .erg-news-text {
      float: left;
      width: calc(100% - 14rem);
    }
    .erg-news-date {
      margin-top: 0;
    }
  }

  .erg-news-header {
    // date text
    .erg-accent-text {
      margin: 2rem 0 3rem;
    }
  }

  .erg-bio-quote {
    text-align: justify;
  }

  .erg-office-location {
    top: -1rem;
  }
}

@media (min-width: 50em) {
  .erg-news-tile {
    // vertical divider between left and right news tiles
    &:nth-of-type(even) {
      border-right: 1px solid $greye;
    }
    // bottom border below second to last news title
    &:nth-last-child(2) {
      border-bottom: 1px solid $greye;
    }
    // news text width = news figure width - right margin
    .erg-news-figure + .erg-news-text {
      width: calc(62.5% - 1.5rem);
    }
    // special styling for first news tile
    &:first-of-type {
      width: 100%;
      // news text width = 100% - (news figure width + right margin)
      .erg-news-figure + .erg-news-text {
        width: calc(100% - 14rem);
      }
      .erg-news-title {
        font-size: 1.5rem;
        line-height: 1.25;
      }
    }
  }
}

@media (min-width: 60em) {
  .erg-hero-heading {
    // account for .erg-site-header
    position: relative;
    top: -4rem;
    margin-bottom: -2rem;
    // match .erg-page-header margin
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  // special styling for first news tile
  .erg-news-tile:first-of-type {
    .erg-news-title {
      font-size: 1.75rem;
    }
  }

  .erg-news-header {
    // date text
    .erg-accent-text {
      margin: 3rem 0 4rem;
    }
  }

  .erg-primary-photo {
    margin-bottom: 4rem;
  }

  .erg-office-location {
    top: -2rem;
  }
}
